<br></br>
<section class="postings">
  <h1>Listing groups</h1>

  <table>
    <tr>
      <th>Name</th>
      <th>&emsp;Group Bio</th>
    </tr>

    <% @groups.each do |g| %>
      <tr>
        <td><%= link_to g.name, group_path(g) %></td>
        <td>&emsp;<%= g.bio %></td>
      </tr>
    <% end %>
  </table>
</section> 
