<% @group = Group.find(params[:id]) %>
<% @group.users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
    </tr>
<% end %>
<% if logged_in? %>
  <% if @group.users.include?(current_user) %>
    <%= link_to 'leave', leave_group_path(@group) %>
  <% else %>
    <%= link_to 'join', join_group_path(@group) %>
  <% end %>
<% end %>
