<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p> -->

<h1>Ensemble Me</h1>
<%= link_to 'Postings', controller: 'postings' %>
<%= link_to 'New posting', new_posting_path %>
